/*Body index*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Edu NSW ACT Foundation', cursive;
  font-family: 'Merienda', cursive; }

.body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 18% 45% 6;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  row-gap: 10px; }
  .body .header {
    grid-area: header;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url(../img/brazilian-chimarrao.webp);
    height: 70vh;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .body .header .navbar {
      display: flex;
      background-color: pink;
      justify-content: end; }
  .body .main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    grid-template-areas: "contenedorTitulo contenedorTitulo contenedorTitulo" "contenedorImagenUno contenedorImagenDos contenedorImagenTres" "divMate divMate divMate";
    color: whitesmoke;
    background-color: pink; }
    .body .main .contenedorTitulo {
      grid-area: contenedorTitulo;
      display: flex;
      text-align: center;
      margin-top: 5rem;
      box-shadow: 1px 1px 1px; }
      .body .main .contenedorTitulo h2 {
        box-shadow: 1px 1px 1px; }
      .body .main .contenedorTitulo h3 {
        box-shadow: 1px 1px 1px; }
      .body .main .contenedorTitulo p {
        box-shadow: 1px 1px 1px; }
    .body .main .contenedorImagenUno {
      grid-area: contenedorImagenUno;
      text-align: center;
      align-self: end;
      box-shadow: 1px 1px 1px; }
    .body .main .contenedorImagenDos {
      grid-area: contenedorImagenDos;
      text-align: center;
      align-self: end;
      box-shadow: 1px 1px 1px; }
    .body .main .contenedorImagenTres {
      grid-area: contenedorImagenTres;
      text-align: center;
      align-self: end;
      box-shadow: 1px 1px 1px; }
    .body .main .divMate {
      grid-area: divMate;
      display: flex;
      text-align: center;
      background-color: aqua;
      display: flex;
      flex-direction: column;
      font-size: 2rem;
      color: white;
      background: pink;
      margin-top: 5px;
      justify-content: space-evenly;
      height: 40rem;
      background-image: url(../img/R.jpg);
      margin-top: 15px; }
  .body .footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    background-color: pink;
    box-shadow: 1px 1px 1px black; }

/*body galeria*/
.bodyG {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 18% 45% 6;
  grid-template-areas: "header header header" "mainG mainG mainG" "footer footer footer";
  row-gap: 10px; }
  .bodyG .mainG {
    grid-area: mainG;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 20% 80% 20%;
    grid-template-areas: "mainTitutloGaleria mainTitutloGaleria mainTitutloGaleria" "carrusel carrusel carrusel" "mainParrafoGaleria mainParrafoGaleria mainParrafoGaleria";
    background-color: pink; }
    .bodyG .mainG .mainTitutloGaleria {
      grid-area: mainTitutloGaleria;
      display: flex;
      justify-content: center;
      color: white;
      font-size: 4rem;
      margin-top: 6rem;
      box-shadow: 6px 6px 6px; }
    .bodyG .mainG .carrusel {
      grid-area: carrusel;
      margin-top: 10rem;
      display: flex;
      flex-direction: column;
      align-items: center; }
