//linea de comentario

//import

@import "base/variables";
@import "base/listas";
@import "base/mixing";

//nesting
/*reset*/ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Merienda', cursive; }
/*Body index*/
.body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 18% 45% 6;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
    row-gap: 10px;

    .header {
        grid-area: header;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url(../img/brazilian-chimarrao.webp);
        height: 70vh;
        background-size: cover;
        background-position: center;
        color: whitesmoke;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .navbar {
            display: flex;
            background-color: $color-principal;
            justify-content: end;
        }
    }

    .main {
        grid-area: main;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.5fr 0.5fr 0.5fr;
        grid-template-areas: "contenedorTitulo contenedorTitulo contenedorTitulo"
            "contenedorImagenUno contenedorImagenDos contenedorImagenTres"
            "divMate divMate divMate";
        color: whitesmoke;
        background-color: pink;

        .contenedorTitulo {
            grid-area: contenedorTitulo;
            display: flex;
            text-align: center;
            margin-top: 5rem;
            box-shadow: 1px 1px 1px;

            h2 {
                box-shadow: 1px 1px 1px;
            }

            h3 {
                box-shadow: 1px 1px 1px;
            }

            p {
                box-shadow: 1px 1px 1px;
            }
        }

        .contenedorImagenUno {
            grid-area: contenedorImagenUno;
            text-align: center;
            align-self: end;
            box-shadow: 1px 1px 1px;
        }

        .contenedorImagenDos {
            grid-area: contenedorImagenDos;
            text-align: center;
            align-self: end;
            box-shadow: 1px 1px 1px;
        }

        .contenedorImagenTres {
            grid-area: contenedorImagenTres;
            text-align: center;
            align-self: end;
            box-shadow: 1px 1px 1px;
        }

        .divMate {
            grid-area: divMate;
            display: flex;
            text-align: center;
            background-color: aqua;
            display: flex;
            flex-direction: column;
            font-size: 2rem;
            color: white;
            background:$color-principal;
            margin-top: 5px;
            justify-content: space-evenly;
            height: 40rem;
            background-image: url(../img/R.jpg);
            margin-top: 15px;
        }
    }

    .footer {
        grid-area: footer;
        display: flex;
        justify-content: space-between;
        background-color:$color-principal;
        box-shadow: 1px 1px 1px black;
    }
}

/*body galeria*/
.bodyG {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 18% 45% 6;
    grid-template-areas:
        "header header header"
        "mainG mainG mainG"
        "footer footer footer";
    row-gap: 10px;

    .mainG {
        grid-area: mainG;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row: 20% 80% 20%;
        grid-template-areas: "mainTitutloGaleria mainTitutloGaleria mainTitutloGaleria"
            "carrusel carrusel carrusel"
            "mainParrafoGaleria mainParrafoGaleria mainParrafoGaleria";
        background-color:$color-principal;

        .mainTitutloGaleria {
            grid-area: mainTitutloGaleria;
            display: flex;
            justify-content: center;
            margin-top: 6rem;
            box-shadow: 6px 6px 6px;
            @include font-titulo;
        }

        .carrusel {
            grid-area: carrusel;
            margin-top: 10rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .mainParrafoGaleria {
            grid-area: mainParrafoGaleria;
            margin-top: 9rem;
            text-align: center;
            margin-bottom: 8rem;
           @include font-parrafo;
            box-shadow: 1px 1px 1px;
        }

    }

}

/*BODY NOSOTROS*/
.bodyN {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 18% 45% 6;
    grid-template-areas:
        "header header header"
        "mainN mainN mainN"
        "footer footer footer";
    row-gap: 10px;
 
    .mainN {
        display: grid;
        grid-area: mainN;
        grid-template-areas: "TitutloMainN TitutloMainN TitutloMainN"
            "parrafoMainN parrafoMainN parrafoMainN"
            "contenedorCardUno contenedorCardDos contenedorCardTres";
        background-color: $color-principal;

        .TitutloMainN {
            grid-area: TitutloMainN;
            text-align: center;
            margin-top: 7rem;
           @include font-titulo;
            box-shadow: 6px 6px 6px;
        }

        .parrafoMainN {
            grid-area: parrafoMainN;
            text-align: center;
            margin-top: 15rem;
            @include font-parrafo;
            display: flex;
            box-shadow: 1px 1px 1px;
        }

        /*CARD NOSOTROS*/
        .contenedorCardUno {
            grid-area: contenedorCardUno;
            margin: 20px;
            text-align: center;
            background-color: $color-card;
            border-radius: 20px;
            transition: all 400ms ease;
            margin-top: 15rem;
            margin-bottom: 7rem;

            .contenedorCardUno .card {
                background-color:$color-card;
                color: white;
                overflow: hidden;
                border-radius: 20px;
                box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
                transition: all 400ms ease;
            }
        }

        .contenedorCardDos {
            grid-area: contenedorCardDos;
            margin: 20px;
            text-align: center;
            border-radius: 20px;
            transition: all 400ms ease;
            margin-top: 15rem;
            background-color:$color-card;
            margin-bottom: 7rem;

            .contenedorCardDos .card {
                background-color:$color-card;
                color: white;
                overflow: hidden;
                border-radius: 20px;
                box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
                transition: all 400ms ease;
            }
        }

        .contenedorCardTres {
            grid-area: contenedorCardTres;
            margin: 20px;
            text-align: center;
            border-radius: 20px;
            transition: all 400ms ease;
            margin-top: 15rem;
            background-color:$color-card;
            margin-bottom: 7rem;

            .contenedorCardTres .card {
                background-color:$color-card;
                color: white;
                overflow: hidden;
                border-radius: 20px;
                box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
                transition: all 400ms ease;

            }
        }
}

 }